<style>


.main {
    text-align: center;
    background-color: #00000060;
}


</style>



<div class="main">
<h1>Students</h1>
<%= content_tag(:a, "Create Student", href:"/students/new", class:"btn btn-info") %>

<ul>
    <% @students.each do |student| %>
        <li>
        <%= link_to "#{student.full_name}:", student_path(student)%>
        <%=" #{number_to_phone(student.phone_number)}, #{student.email}"%>
        </li>
    <% end %>
</ul>
</div>