<%= content_tag(:h1, @instructor.full_name) %>

<ul>
    <% @availabilities.each do |availability| %>
        <li><%= "#{availability.day} #{availability.start_time}-#{availability.end_time}" %></li>
    <% end %>
</ul>